<html lang="en">
<head>
	<title> IP Address Application </title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style_container.css"/>
</head>
<body>
	<div class="container-contact100">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form" action="{{url_for('specific_output')}}" >
				<span class="contact100-form-title" style="font-size:28px">IP Address Application</span>
				
				<div class="wrap-input100 " >
					<span class="label-input100">Enter Public IP Address </span>
					<input class="input100" type="text" id="ip_add" name="ip_add" placeholder="Public IP Address">
					<span class="focus-input100"></span>
				</div>
				
				<div class="container-contact100-form-btn">
					<div class="wrap-contact100-form-btn">
						<div class="contact100-form-bgbtn"></div>
						<button class="contact100-form-btn" id='submit' type="submit" value="ip_add">Submit</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>

</html>